@model IEnumerable<Eburgan.Frontend.Models.View.BasketLineViewModel>

<table class="table">
    <thead>
        <tr class="columnHeader">
            <th>Hisse Adı</th>
            <th>Sipariş TArihi</th>
            <th>Lot Fiyatı</th>
            <th>Adet</th>
            <th>Toplam Maliyet</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @Html.EditorForModel()
        <tr>
            <td colspan="4">
                <a asp-controller="EventCatalog" asp-action="Index">
                    <img class="backIcon" src="~/img/arrow-down.svg" /> Urun listesine don
                </a>
            </td>
            <td class="bold big">@Model.Sum(bl => bl.Price * bl.Quantity) TL</td>
        </tr>
    </tbody>
</table>

@if(Model.Count() > 0)
{
    <a asp-controller="Checkout" asp-action="Index" class="btn btn-primary">Satin Al</a>
}
